.post-item {
    font-family: 'Lato';
    font-style: normal;
}

.post-title {
    font-family: 'Roboto';
    font-style: normal; 
}

.link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    color: rgb(20, 20, 197);
}