body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding-top: 25px;
}

.input-distance {
    padding-bottom: 25px;
}

.choice-tariffs {
    padding-bottom: 25px;
}

.choice-addservice {
    padding-top: 10px;
}

.calculated-cost-results {
    padding: 0 5px;
    color: red;
}