body {
    margin: 0;
    background-image: url(../source/img/background/imgBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(36, 34, 34);

    
}

.section-input-name {
    margin: 0 auto;
    width: 600px;
    display: none;
    border: 3px solid grey;
    
}

.section-input-name-form {
    text-align: center;
}

.section-quiz {
    margin: 0 auto;
    width: 600px;
    display: none;
    
}

.section-result {
    margin: 0 auto;
    width: 600px;
    display: none;
}

.section-result-text {
    text-align: center;
}

.active-block {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border: 3px solid #808080ad;
    background-color: #808080ad;
    border-radius: 10px;
    padding: 30px 15px;
}

.quiz {
    margin: 0 auto;
    width: 600px;
}

.quiz-questions {}

.quiz-questions-item {
    margin-bottom: 20px;
}

.quiz-questions-item-question {
    margin-bottom: 20px;
    font-size: 20px;
}

.quiz-questions-item-answers {
    margin: 0;
    padding: 0;
    list-style: none;
}


.quiz-results {
    margin-bottom: 20px;
    display: none;
}

.quiz-results-item {
    margin-bottom: 20px;
}

.quiz-results-item-question {
    margin-bottom: 20px;
    font-size: 20px;
}

.quiz-results-item-answers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quiz-indicator {
    padding-bottom: 20px;
}

.quiz-controls {
    display: flex;
}

.btn-next {

}

.btn-restart {
    display: none;
}

.btn-result {
    display: none;
}

.questions--hidden {
    display: none;
}
.indicator--hidden {
    display: none;
}
.indicator--visible {
    display: block;
}
.btn-next--hidden {
    display: none;
}
.btn-restart--visible {
    display: block;
}

.answer--invalid {
    color: red;
}

.answer--valid {
    color: green;
}